Loading Data

In [1]:
import pandas as pd

In [2]:
def load_csv(path):
    df = pd.read_csv(path,engine='python',error_bad_lines=False, na_values=['?', None,'-','--','undefined'])
    return df

In [3]:
df= load_csv('../data/data.csv')

In [4]:
df.head()
# print(type(df))

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [5]:
class DataInfo:
    def __init__(self,df):
        self.df = df

    def datatype_cols(self):
        return self.df.dtypes

    def general_description(self):
        return self.df.describe()

    def count_null(self):
        return self.df.isnull().sum()

    def return_columns(self):
        return self.df.columns.tolist()

    def count_cols(self):
        return len(self.df.columns.tolist())
    
    def size_df(self):
        return df.shape[0],df.shape[1]

In [6]:
data = DataInfo(df)
data.return_columns(),data.count_cols()

(['Bearer Id',
  'Start',
  'Start ms',
  'End',
  'End ms',
  'Dur. (ms)',
  'IMSI',
  'MSISDN/Number',
  'IMEI',
  'Last Location Name',
  'Avg RTT DL (ms)',
  'Avg RTT UL (ms)',
  'Avg Bearer TP DL (kbps)',
  'Avg Bearer TP UL (kbps)',
  'TCP DL Retrans. Vol (Bytes)',
  'TCP UL Retrans. Vol (Bytes)',
  'DL TP < 50 Kbps (%)',
  '50 Kbps < DL TP < 250 Kbps (%)',
  '250 Kbps < DL TP < 1 Mbps (%)',
  'DL TP > 1 Mbps (%)',
  'UL TP < 10 Kbps (%)',
  '10 Kbps < UL TP < 50 Kbps (%)',
  '50 Kbps < UL TP < 300 Kbps (%)',
  'UL TP > 300 Kbps (%)',
  'HTTP DL (Bytes)',
  'HTTP UL (Bytes)',
  'Activity Duration DL (ms)',
  'Activity Duration UL (ms)',
  'Dur. (ms).1',
  'Handset Manufacturer',
  'Handset Type',
  'Nb of sec with 125000B < Vol DL',
  'Nb of sec with 1250B < Vol UL < 6250B',
  'Nb of sec with 31250B < Vol DL < 125000B',
  'Nb of sec with 37500B < Vol UL',
  'Nb of sec with 6250B < Vol DL < 31250B',
  'Nb of sec with 6250B < Vol UL < 37500B',
  'Nb of sec with Vol DL < 6250B',
  'Nb of sec with Vol UL < 1250B',
  'Social Media DL (Bytes)',
  'Social Media UL (Bytes)',
  'Google DL (Bytes)',
  'Google UL (Bytes)',
  'Email DL (Bytes)',
  'Email UL (Bytes)',
  'Youtube DL (Bytes)',
  'Youtube UL (Bytes)',
  'Netflix DL (Bytes)',
  'Netflix UL (Bytes)',
  'Gaming DL (Bytes)',
  'Gaming UL (Bytes)',
  'Other DL (Bytes)',
  'Other UL (Bytes)',
  'Total UL (Bytes)',
  'Total DL (Bytes)'],
 55)

In [7]:
data.count_null()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                          9559
Handset Type                                  9559
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [8]:
data.general_description()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [9]:
data.datatype_cols()

Bearer Id                                   float64
Start                                        object
Start ms                                    float64
End                                          object
End ms                                      float64
Dur. (ms)                                   float64
IMSI                                        float64
MSISDN/Number                               float64
IMEI                                        float64
Last Location Name                           object
Avg RTT DL (ms)                             float64
Avg RTT UL (ms)                             float64
Avg Bearer TP DL (kbps)                     float64
Avg Bearer TP UL (kbps)                     float64
TCP DL Retrans. Vol (Bytes)                 float64
TCP UL Retrans. Vol (Bytes)                 float64
DL TP < 50 Kbps (%)                         float64
50 Kbps < DL TP < 250 Kbps (%)              float64
250 Kbps < DL TP < 1 Mbps (%)               float64
DL TP > 1 Mbps (%)                          float64
UL TP < 10 Kbps (%)                         float64
10 Kbps < UL TP < 50 Kbps (%)               float64
50 Kbps < UL TP < 300 Kbps (%)              float64
UL TP > 300 Kbps (%)                        float64
HTTP DL (Bytes)                             float64
HTTP UL (Bytes)                             float64
Activity Duration DL (ms)                   float64
Activity Duration UL (ms)                   float64
Dur. (ms).1                                 float64
Handset Manufacturer                         object
Handset Type                                 object
Nb of sec with 125000B < Vol DL             float64
Nb of sec with 1250B < Vol UL < 6250B       float64
Nb of sec with 31250B < Vol DL < 125000B    float64
Nb of sec with 37500B < Vol UL              float64
Nb of sec with 6250B < Vol DL < 31250B      float64
Nb of sec with 6250B < Vol UL < 37500B      float64
Nb of sec with Vol DL < 6250B               float64
Nb of sec with Vol UL < 1250B               float64
Social Media DL (Bytes)                     float64
Social Media UL (Bytes)                     float64
Google DL (Bytes)                           float64
Google UL (Bytes)                           float64
Email DL (Bytes)                            float64
Email UL (Bytes)                            float64
Youtube DL (Bytes)                          float64
Youtube UL (Bytes)                          float64
Netflix DL (Bytes)                          float64
Netflix UL (Bytes)                          float64
Gaming DL (Bytes)                           float64
Gaming UL (Bytes)                           float64
Other DL (Bytes)                            float64
Other UL (Bytes)                            float64
Total UL (Bytes)                            float64
Total DL (Bytes)                            float64
dtype: object

In [10]:
# handle missing values of columns of type object
def fill_missing_values(df):
    objectTypeCols = [col_name for col_name in df.columns.tolist() if df.dtypes[col_name] == object]
    numericTypeCols = [col_name for col_name in df.columns.tolist() if col_name not in objectTypeCols]
    print(objectTypeCols)

    #for object type columns use mode
    for col in objectTypeCols:
        df[col] = df[col].fillna(df[col].mode()[0])
    
    #for numeric type columsn use median
    for col in numericTypeCols:
        df[col] = df[col].fillna(df[col].median())
    return df

In [11]:
def Handle_missing_values(df):
        # removed columns containing null values of more than 20%
        row,col = df.shape
        df.dropna(axis='columns',thresh=row*0.7,inplace=True)
        #check if column datatype is numeric/object
        #if object use mode to fix missing type
        df = fill_missing_values(df)

        # if numeric use median

        
        return df

In [12]:
missing_handled = Handle_missing_values(df)
DataInfo(missing_handled).size_df()

['Start', 'End', 'Last Location Name', 'Handset Manufacturer', 'Handset Type']

(150001, 45)

Transformation

In [115]:
#Scaling and Normalization

In [13]:
#top 10 handsets used by clients
df_handsets = pd.DataFrame({'handset users count':df.groupby(['Handset Type'])['Bearer Id'].count()}).reset_index()
df_handsets = df_handsets.sort_values(['handset users count'],ascending=False)
df_handsets.head(10)

                     Handset Type  handset users count
316              Huawei B528S-23A                29311
53        Apple iPhone 6S (A1688)                 9419
49         Apple iPhone 6 (A1586)                 9023
59         Apple iPhone 7 (A1778)                 6326
73        Apple iPhone Se (A1723)                 5187
66         Apple iPhone 8 (A1905)                 4993
78        Apple iPhone Xr (A2105)                 4568
955  Samsung Galaxy S8 (Sm-G950F)                 4520
75         Apple iPhone X (A1901)                 3813
838    Samsung Galaxy A5 Sm-A520F                 3724

In [14]:
#top 3 handset manufacturers
df_handset_manf = pd.DataFrame({'handsets manufactured':missing_handled.groupby(['Handset Manufacturer'])['Bearer Id'].count()}).reset_index()
df_handset_manf = df_handset_manf.sort_values(['handsets manufactured'],ascending=False)
df_handset_manf.head(3)

    Handset Manufacturer  handsets manufactured
5                  Apple                  69124
103              Samsung                  40839
52                Huawei                  34423

In [45]:
#top 5 handsets per top 3 handset manufacturer
# df_hand = missing_handled.groupby(['Handset Manufacturer']).count().sort_values('Bearer Id',ascending=False).reset_index()['Handset Manufacturer'].head(3)
# df_hand.iloc[:3]
# for manufacturer in df_hand:
#     print(missing_handled['Handset Manufacturer'] == manufacturer)
# # there are 
# # df_hand.head(3)

0         False
1         False
2         False
3          True
4         False
          ...
149996     True
149997     True
149998     True
149999    False
150000     True
Name: Handset Manufacturer, Length: 150001, dtype: bool
0          True
1          True
2          True
3         False
4          True
          ...
149996    False
149997    False
149998    False
149999    False
150000    False
Name: Handset Manufacturer, Length: 150001, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
149996    False
149997    False
149998    False
149999     True
150000    False
Name: Handset Manufacturer, Length: 150001, dtype: bool

In [26]:
# Make a short interpretation and recommendation to marketing teams

In [80]:

def format_float(value):
    return f'{value:,.2f}'

def convert_ms_to_hrs(df,col_name):
    hr = 3600000
    df[col_name+" in hrs"] = df[col_name] / hr
    
    return df


def find_agg(df:pd.DataFrame, agg_column:str, wanted_col:str,agg_metric:str, col_name:str, top:int, order=False )->pd.DataFrame:
    
    new_df = df.groupby(agg_column)[wanted_col].agg(agg_metric).reset_index(name=col_name).\
    sort_values(by=col_name, ascending=order)[:top]
    
    return new_df

def convert_bytes_to_megabytes(df, bytes_data):

    megabyte = 1*10e+5
    df[bytes_data] = df[bytes_data] / megabyte
    
    return df

def find_total_volume(df):
    app_names = ['Social Media', 'Google', 'Email', 'Youtube', 'Netflix', 'Gaming', 'Other']
    for app_name in app_names:
        df[app_name+' total volume (Bytes)'] = df[app_name+' DL (Bytes)']+df[app_name+' UL (Bytes)']
    return df

pd.options.display.float_format = format_float

In [64]:
# f.groupby(agg_column)[agg_column]
no_sessions = find_agg(missing_handled,'IMSI' ,'Bearer Id', 'count', "Number of session per user", 10, order=False )
no_sessions

                         IMSI  Number of session per user
54373  208,201,546,329,113.00                         571
36781  208,201,402,778,052.00                          18
15895  208,201,007,176,097.00                          17
71849  208,201,715,944,176.00                          17
88187  208,201,906,760,163.00                          16
101057 208,202,100,881,019.00                          15
25251  208,201,009,693,091.00                          15
10550  208,200,853,859,127.00                          13
2964   208,200,313,716,101.00                          12
89687  208,201,907,543,212.00                          12

In [65]:
# (df:pd.DataFrame, agg_column:str, agg_metric:str, col_name:str, top:int, order=False )
dur_sessions = find_agg(missing_handled,'IMSI' ,'Dur. (ms)', 'sum', "Duration of session per user", 10, order=False )
convert_ms_to_hrs(dur_sessions,'Duration of session per user')

,IMSI,Duration of session per user,Duration of session per user in hrs
54373,"208,201,546,329,113.00","37,677,884.00",10.47
15895,"208,201,007,176,097.00","18,553,754.00",5.15
71849,"208,201,715,944,176.00","9,966,898.00",2.77
101057,"208,202,100,881,019.00","9,279,434.00",2.58
36781,"208,201,402,778,052.00","8,791,927.00",2.44
10550,"208,200,853,859,127.00","8,744,914.00",2.43
21815,"208,201,009,074,192.00","6,614,270.00",1.84
37182,"208,201,446,042,143.00","6,288,730.00",1.75
89687,"208,201,907,543,212.00","6,287,761.00",1.75
34176,"208,201,402,435,130.00","5,649,882.00",1.57

In [23]:
find_agg(missing_handled,'IMSI','Total DL (Bytes)' , 'sum', "total DL(Bytes) per user", 10, order=False )

                         IMSI  total DL(Bytes) per user
54373  208,201,546,329,113.00        259,175,709,638.50
71849  208,201,715,944,176.00          8,156,743,493.00
101057 208,202,100,881,019.00          7,811,295,382.00
15895  208,201,007,176,097.00          7,770,043,342.00
25251  208,201,009,693,091.00          7,309,541,816.00
36781  208,201,402,778,052.00          7,301,516,540.00
88187  208,201,906,760,163.00          7,081,602,462.00
35405  208,201,402,604,136.00          6,903,439,962.00
2964   208,200,313,716,101.00          6,610,851,624.00
62320  208,201,714,300,272.00          6,400,773,755.00

In [46]:
find_agg(missing_handled,'IMSI','Total UL (Bytes)' , 'sum', "total UL(Bytes) per user", 10, order=False )

                         IMSI  total DL(Bytes) per user
54373  208,201,546,329,113.00         23,579,659,461.00
15895  208,201,007,176,097.00            729,577,380.00
101057 208,202,100,881,019.00            703,478,581.00
71849  208,201,715,944,176.00            689,483,001.00
36781  208,201,402,778,052.00            669,650,721.00
88187  208,201,906,760,163.00            624,260,321.00
25251  208,201,009,693,091.00            581,568,792.00
10550  208,200,853,859,127.00            566,326,364.00
49823  208,201,545,274,157.00            530,343,105.00
2964   208,200,313,716,101.00            521,518,890.00

In [73]:
df_new = find_total_volume(missing_handled)
df_new.head(10)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Netflix total volume,Gaming total volume,Other total volume,Social Media total volume (Bytes),Google total volume (Bytes),Email total volume (Bytes),Youtube total volume (Bytes),Netflix total volume (Bytes),Gaming total volume (Bytes),Other total volume (Bytes)
0,"13,114,483,460,844,900,352.00",4/4/2019 12:01,770.00,4/25/2019 14:35,662.00,"1,823,652.00","208,201,448,079,117.00","33,664,962,239.00","35,521,209,507,511.00",9.16456699548519E+015,...,"17,855,187.00","292,426,453.00","180,558,843.00","1,570,185.00","2,905,912.00","3,701,304.00","18,355,943.00","17,855,187.00","292,426,453.00","180,558,843.00"
1,"13,114,483,482,878,900,224.00",4/9/2019 13:04,235.00,4/25/2019 8:15,606.00,"1,365,104.00","208,201,909,211,140.00","33,681,854,413.00","35,794,009,006,359.00",L77566A,...,"35,565,545.00","609,920,783.00","541,959,383.00","1,933,278.00","4,414,096.00","937,385.00","39,359,124.00","35,565,545.00","609,920,783.00","541,959,383.00"
2,"13,114,483,484,080,500,736.00",4/9/2019 17:42,1.00,4/25/2019 11:58,652.00,"1,361,762.00","208,200,314,458,056.00","33,760,627,129.00","35,281,510,359,387.00",D42335A,...,"23,751,202.00","229,980,251.00","414,908,351.00","1,726,277.00","10,229,119.00","3,363,124.00","34,425,237.00","23,751,202.00","229,980,251.00","414,908,351.00"
3,"13,114,483,485,442,799,616.00",4/10/2019 0:31,486.00,4/25/2019 7:36,171.00,"1,321,509.00","208,201,402,342,131.00","33,750,343,200.00","35,356,610,164,913.00",T21824A,...,"15,092,588.00","810,387,875.00","761,837,216.00","657,493.00","11,811,761.00","2,070,983.00","36,534,765.00","15,092,588.00","810,387,875.00","761,837,216.00"
4,"13,114,483,499,480,700,928.00",4/12/2019 20:10,565.00,4/25/2019 10:40,954.00,"1,089,009.00","208,201,401,415,120.00","33,699,795,932.00","35,407,009,745,539.00",D88865A,...,"17,539,799.00","531,237,049.00","564,619,822.00","912,788.00","7,748,843.00","2,110,349.00","34,222,253.00","17,539,799.00","531,237,049.00","564,619,822.00"
5,"13,114,483,499,779,198,976.00",4/12/2019 21:37,439.00,4/25/2019 8:08,553.00,"1,074,638.00","208,201,402,670,191.00","33,668,185,951.00","35,298,410,295,700.00",T89132C,...,"13,881,809.00","723,461,512.00","659,414,334.00","3,200,014.00","12,934,133.00","2,902,410.00","23,944,031.00","13,881,809.00","723,461,512.00","659,414,334.00"
6,"13,114,483,501,243,799,552.00",4/13/2019 8:41,612.00,4/25/2019 8:16,168.00,"1,035,261.00","208,201,448,341,047.00","33,665,368,271.00","86,762,704,322,800.00",9.16456701058919E+015,...,"31,212,766.00","58,881,157.00","814,303,325.00","1,624,991.00","4,906,872.00","2,090,979.00","9,120,760.00","31,212,766.00","58,881,157.00","814,303,325.00"
7,"13,042,425,910,865,399,808.00",4/14/2019 2:11,592.00,4/25/2019 2:26,512.00,"951,292.00","208,201,009,069,207.00","33,763,490,140.00","86,546,404,964,017.00",CELL_208_20_520025_1,...,"18,933,702.00","765,055,811.00","545,316,477.00","3,161,403.00","3,872,713.00","3,500,104.00","31,924,969.00","18,933,702.00","765,055,811.00","545,316,477.00"
8,"13,114,483,506,432,499,712.00",4/14/2019 12:48,121.00,4/25/2019 10:22,960.00,"941,634.00","208,201,448,324,028.00","33,698,743,617.00","35,562,409,696,153.00",T42084A,...,"19,054,441.00","828,219,634.00","187,669,517.00","372,625.00","8,902,099.00","3,380,069.00","29,297,508.00","19,054,441.00","828,219,634.00","187,669,517.00"
9,"13,042,425,914,669,299,712.00",4/15/2019 0:32,0.00,4/25/2019 0:40,284.00,"864,482.00","208,200,314,385,130.00","33,659,219,748.00","35,573,109,931,422.00",L20434C,...,"13,185,350.00","812,946,425.00","77,671,250.00","1,585,413.00","8,778,341.00","766,046.00","22,911,539.00","13,185,350.00","812,946,425.00","77,671,250.00"

In [77]:
app_names = ['Social Media', 'Google', 'Email', 'Youtube', 'Netflix', 'Gaming', 'Other']
agg_df = [find_agg(missing_handled,'IMSI',app_name+' total volume (Bytes)' , 'sum', "total volume(Bytes) of "+app_name+" user", 10, order=False ) for app_name in app_names]

In [81]:

# convert_bytes_to_megabytes(agg_df[0], "total volume(Bytes) of "+app_names[0]+" user")

                         IMSI  total volume(Bytes) of Social Media user
54373  208,201,546,329,113.00                                  1,054.06
36781  208,201,402,778,052.00                                     43.37
101057 208,202,100,881,019.00                                     39.78
88187  208,201,906,760,163.00                                     35.41
71849  208,201,715,944,176.00                                     28.29
15895  208,201,007,176,097.00                                     27.14
10550  208,200,853,859,127.00                                     24.25
73864  208,201,716,367,238.00                                     23.97
81533  208,201,771,676,245.00                                     23.80
89687  208,201,907,543,212.00                                     23.08